@{
    ViewBag.Title = "Home Page";
}


<header id="home">
    <nav>
        <div class="row nav-box">
            <img class="imgLogo" src="~/Content/img/logoCompletoBlanco.png">
            <ul class="main-nav js--main-nav">
                <li><a href="#intro">Rehabilitación</a></li>
                <li><a href="#quienSomos">Nosotros</a></li>
                <li><a href="#contacto">Contactanos</a></li>
                <li><a class="js--scroll-to-plans" href="#servicios">Servicios</a></li>
            </ul>
            <a class="mobile-nav-icon js--nav-icon"><i class="icon ion-md-menu"></i></a>
            <a href="#home"><img class="nav-logo" src="~/Content/img/logo.png"></a>
        </div>
    </nav>
    <div class="cover-text-box">

        
        <div class="contenedorCita">
            <ion-icon class="icon-home" name="calendar"></ion-icon>
            Conócenos, haz una cita
            <a href="tel:3333333333" class="citaTelefono">(33) 3333-3333</a>
        </div>

        <h1 class="slogan">Clínica de Rehabilitación Cardíaca</h1>
        <a href="#features">
            <div class="arrow animateArrow">
                <i class="down"></i>
            </div>
        </a>
    </div>
</header>

@*INTRODUCCION*@
<section class="section-features js--section-features" id="intro">
    <div class="row">
        <h2>¿ QUE ES LA REHABILITACION CARDIACA ?</h2>
        <p class="long-copy">
            La rehabilitación cardiaca es un programa medico supervisado designado para mejorar tu salud cardiovascular si tu haz tenido un infarto, una cirugía cardiaca o un cateterismo con angioplastia tu eres candidato 
        </p>
    </div>
    <div class="row js--wp-1">
        <div class="col span-1-of-3 box">
            <ion-icon class="icon-big" name="body"></ion-icon>
            <h3 style="min-height:85px">Entrenamiento físico</h3>
            <p>
                El ejercicio ayuda a que tu corazón lata de una mejor manera y tu sistema cardiovascular trabaje mejor.
                <br />
                <br />
                Te damos asesoria de como mejorar la movilidad de tu cuerpo como realizar las actividades de la vida cotidiana y de esta manera como promover tu salud.
            </p>
        </div>
        <div class="col span-1-of-3 box">
            <ion-icon class="icon-big" name="school"></ion-icon>
            <h3 style="min-height:85px">Educación sobre tus factores de riesgo cardiovascular </h3>
            <p>
                Un elemento clave para que no puedas recaer en una nueva enfermedad es tener en control tus factores de riesgo como son el dejar de fumar,
                asesoría nutricional para control de peso y educación en la nutrición, control de la presión arterial, la diabetes mellitus, 
                control de las grasas en mi sangre (colesterol y trigliceridos).
            </p>
        </div>
        <div class="col span-1-of-3 box">
            <ion-icon class="icon-big" name="cog"></ion-icon>
            <h3 style="min-height:85px">Psicoeducación </h3>
            <p>
                El estrés, la ansiedad y la depresión pueden afectar mi corazón. 
                <br />
                <br />
                Esta parte ayuda a identificarlos los síntomas que me lleva a tener esto y tener recursos para manejarlo.
            </p>
        </div>
    </div>
</section>

@*LOGOS*@
<section class="section-logo" id="logos">
    <div class="row js--wp-3">
        <div class="col span-1-of-4">
            <img src="/Content/logos/logo1.png">
        </div>
        <div class="col span-1-of-4">
            <img src="/Content/logos/logo2.png">
        </div>
        <div class="col span-1-of-4">
            <img src="/Content/logos/logo3.png">
        </div>
        <div class="col span-1-of-4">
            <img src="/Content/logos/logo4.png">
        </div>
    </div>
</section>

@*QUIENES_SOMOS*@
<section class="section-features js--section-features" id="quienSomos">
    <div class="row">
        <h2>CONOCE A CICOR</h2>
        <p class="long-copy">
            NO NECESITAS ENFRENTAR TU ENFERMEDAD CARDIACA SOLO, TENEMOS UN EQUIPO MULTIDISCIPLINARIO (CARDIOLOGOS ESPECIALISTAS EN EL DEPORTE, NUTRIOLOGOS PSICOLOGOS Y ENTRENADORES FISICOS) QUE TE AYUDARA A TENER HABITOS SALUDABLES QUE NO AFECTEN TU CORAZON. 
        </p>
    </div>
    <div class="row js--wp-1">
        <div class="col span-1-of-2 box">
            <h3 style="min-height:85px">¿QUE TENGO QUE HACER?</h3>
            <p>
                <ul>
                    <li>Pregunta a tu doctor si eres candidato</li>
                    <li>Una vez que entres pregunta cuales serán tus metas de salud</li>
                    <li>Crear un plan para rehabilitar mi corazón</li>
                    <li>Participa para que logres tus metas</li>
                    <li>Continua tomando tus medicinas correctamente</li>
                    <li>El equipo de rehabilitación cardiaca siempre estará en contacto con tu cardiólogo para informar de tus logros.</li>
                </ul>
            </p>
        </div>
        <div class="col span-1-of-2 box">
            <h3 style="min-height:85px">¿CUALES SON LOS BENEFICIOS  UN PROGRAMA DE REHABILITACION CARDIACA?</h3>
            <p>
                <ul>
                    <li>Disminuir el riesgo de tener evengos futuros</li>
                    <li>Comer mejor</li>
                    <li>Perder peso</li>
                    <li>Retorno laboral mas temprano</li>
                    <li>Participar en las actividades diarias que  podría haber perdido</li>
                </ul>
            </p>
        </div>
    </div>
</section>

@*VIDEO*@
<section style="width: 100%; height: 800px;">
    <iframe type="text/html" src="https://www.youtube-nocookie.com/embed/w0zelS2nX2E?version=3&amp;enablejsapi=1&amp;html5=1&amp;hd=1&amp;wmode=opaque&amp;showinfo=0&amp;rel=0;&amp;controls=0&amp;playsinline=1" width="100%" height="100%" style="opacity: 1; width: 100%; height: 100%;display: block; visibility: inherit;" class="resizelistener" id="iframe31959"></iframe>
</section>

@*CONOCIENDO*@
<section class="section-kind-location" id="conociendo">
    <h2>CONOCIENDO LA ENFERMEDAD CARDIACA </h2>
    <div class="locations-box js--wp-2">
        <div class="row">
            <div class="col span-1-of-2 section-AnginaDePecho box-location">
                <h2>ANGINA DE PECHO</h2>
            </div>
            <div class="col span-1-of-2 box-location">
                <p> Es un dolor en el pecho porque al musculo cardiaco causado porque no le llega suficiente oxigeno por las de las arterias del corazón.
                Este disconfort se puede irradiar a los brazos, mandíbula, cuello, espalda, o malestar como de tipo indigestión. 
                <span class="MasInformacion" onclick="MasInformacion(1)">Más información</span>
                </p>
            </div>
            <div class="ocultar seccionMasInformacion" id="MasInformacion1">
                <p>
                    La angina es solo un síntoma de una enfermedad llanada enfermedad arterial coronaria
                    Es ocasionada por estrechamiento de las arterias coronarias también llamada isquemia.
                    <br />
                    La angina también puede ser un síntomas de la enfermedad micro vascular. 
                    Esta enfermedad afecta los pequeños vasos y es mas frecuentes en mujeres que en hombres
                    <br />
                    Tu puedes tener riesgo de tener enfermedad coronaria si tu tienes angina.
                    <br />
                    <br />
                    Los factores de riesgo mayores son:
                    <br />
                    <ul>
                        <li>Niveles no saludables de colesterol</li>
                        <li>Presión arterial elevada</li>
                        <li>Tabaquismo</li>
                        <li>Diabetes mellitus</li>
                        <li>Sobrepeso u obesidad</li>
                        <li>Síndrome metabólico</li>
                        <li>Inactividad física</li>
                        <li>Dieta no saludable</li>
                        <li>Edad (incrementa la prevalencia de infarto en hombres > 45 años o mujeres > 55 años).</li>
                        <li>Historia familiar de enfermedades cardiacas</li>
                    </ul>
                    <br />
                    El tratamiento incluye:
                    <br />
                    <ul>
                        <li>Acudir con un cardiólogo</li>
                        <li>Toma de Electrocardiograma</li>
                        <li>Pruebas de esfuerzo</li>
                        <li>Exámenes de laboratorio</li>
                        <li>Angiografía coronaria</li>
                        <li>Cambios en el estilo de vida</li>
                        <li>Medicinas</li>
                        <li>Procedimientos cardiacos</li>
                        <li><b>Rehabilitación cardiaca</b></li>
                    </ul>
                </p>
            </div>
        </div>
        <div class="row flex-container">
            <div class="col span-1-of-2 box-location flex-item">
                <p> El termino arritmia se refiere a todos los cambios en la secuencia de impulsos eléctricos.
                 Estos pueden ser rápidos o lentos causando que los latidos del corazón sean lentos o rápidos
                    <span class="MasInformacion" onclick="MasInformacion(2)">Más información</span></p>
            </div>
            <div class="col span-1-of-2 section-Arritmia box-location flex-item ">
                <h2>ARRITMIAS</h2>
            </div>
            <div class="ocultar seccionMasInformacion" id="MasInformacion2">
                <p>
                    Tipos de arritmias
                    <br />
                    <ul>
                        <li>Fibrilación auricular. La cámaras cardiacas llamadas aurículas se contraen irregularmente</li>
                        <li>Bradicardia: Latidos del corazón lento</li>
                        <li>Desordenes en la conducción : El corazón no conduce normalmente</li>
                        <li>Contracciones prematuras. Los latidos del corazón se adelantan</li>
                        <li>Taquicardia : Los latidos de corazón van muy rápida</li>
                        <li>Fibrilación ventricular Contracción desorganizada de las cámara de corazón llamada ventrículos</li>
                    </ul>
                        <br />
                        <br />
                            Síntomas pueden ser
                        <br />
                    <ul>
                        <li>Dolor torácico</li>
                        <li>Desmayos</li>
                        <li>Palpitaciones</li>
                        <li>Mareos</li>
                        <li>Dificultad para respirar</li>
                    </ul>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col span-1-of-2 section-aterosclerosis box-location ">
                <h2>Aterosclerosis</h2>
            </div>
            <div class="col span-1-of-2 box-location ">
                <p>
                    Sucede cuando existen depósitos de grasa en las arterias del corazón. Esta placa esta constituida por colesterol, ácidos grasos, productos de desecho celular, calcio, y fibrina...
                    <span class="MasInformacion" onclick="MasInformacion(3)">Más información</span>
                </p>
                
            </div>
            <div class="ocultar seccionMasInformacion" id="MasInformacion3">
                <p>
                    esta placa crece en las paredes de la arteria engosandola y estrechando la luz hasta que se produce un estrechamiento de la pared.
                    <br />
                    <br />
                    Esta ateroesclerosis puede afectar:
                    <br />
                    <ul>
                        <li>La arterias del corazón produciendo enfermedad arterial coronaria</li>
                        <li>Enfermedad carotidea afectando las arterial del cerebro</li>
                        <li>Enfermedad arterial periférica : afectando las placas de las arterias de las extremidades especialmente las piernas</li>
                        <li>Enfermedad de las arterias renales produciendo enfermedad de las arterial del corazón</li>
                    </ul>
                    <br />
                    Como empieza y como progresa
                    <br />
                    La progresión de la ateroesclerosis es lenta y puede empezar desde la niñez algunas personas pueden tener una progresión rápida y presentarse desde los 30 años y troas puede ser lenta y presentarse alrededor de los 5 – 60 años
                    <br />
                    La causas de que se forme la ateroesclerosis
                    <br />
                    Elevación de los niveles de colesterol y triglicéridos
                    <br />
                    Presion arterial elevada
                    <br />
                    Tabaquismo
                </p>
            </div>

        </div>
        <div class="row flex-container">
            <div class="col span-1-of-2 box-location flex-item">
                <p>
                    Es una perdida abrupta del la función cardiaca de manera súbita es una enfermedad mortal 
                    <span class="MasInformacion" onclick="MasInformacion(4)">Más información</span>
                </p>
            </div>
            <div class="col span-1-of-2 section-paroCardiaco box-location flex-item ">
                <h2>PARO CARDIACO</h2>
            </div>
            <div class="ocultar seccionMasInformacion" id="MasInformacion4">
                <p>
                    No es lo mismo que un infarto
                    <br />
                    El infarto se refiere a la perdida de la circulación en el corazón que produce que se muera una parte del tejido del corazón.
                    <br />
                    En paro cardiaco es una perdida circulatoria total que nos puede llevar a la muerte
                    <br />
                    En el paro cardiaco se debe de realizar reanimación cardiopulmonar (RCP)
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col span-1-of-2 section-embolia box-location">
                <h2>EVENTO VASCULAR</h2>
            </div>
            <div class="col span-1-of-2 box-location">
                <p>
                    EMBOLIA O HEMORRAGIA CEREBRAL
                    <br />
                    Se produce cuando un coagulo generalmente procedente del corazón y obstruye la circulación sanguínea de una arterial cerebral. 
                    <span class="MasInformacion" onclick="MasInformacion(5)">Más información</span>
                </p>
            </div>
            <div class="ocultar seccionMasInformacion" id="MasInformacion5">
                <p>
                    Los evento vasculares cerebrales son unas de las 10 causas de muerte
                    en los últimos 15 años además es una de las principales causas de discapacidad en personas jóvenes
                    y muchas de las personas que no fallecen debido a un ictus necesitan la ayuda de otros para sobrevivir,
                    por estas razones es importante detectar los síntomas
                    <br />
                    <br />
                    ¿Cuales son sus síntomas? 
                    <br />
                    Identifíquelo como las 5 “D”
                    <br />
                    <ul>
                        <li>Debilidad parálisis o entumecimiento de la Cara, los brazos o las piernas</li>
                        <li>Dificultad para hablar</li>
                        <li>Dolor de cabeza repentino e intenso de causa desconocida</li>
                        <li>Desmayo o perdida del conocimiento</li>
                        <li>Dificultad para caminar con perdida del equilibrio o coordinación y caídas sin causa aparente</li>
                    </ul>
                    <br />
                    ¿Que debo de hacer ?
                    <br />
                    DE MANERA INMEDIATA llamar por ayuda y llevarlo al su centro de salud mas cercano
                </p>
            </div>
        </div>
        <div class="row flex-container">
            <div class="col span-1-of-2 box-location flex-item">
                <p>
                    Es una condición que causa que tu azúcar (glucosa) se incremente. Una glucosa > 126 mg / dl en ayunas es ALTA Y PELIGROSA 
                    <span class="MasInformacion" onclick="MasInformacion(6)">Más información</span>
                </p>
            </div>
            <div class="col span-1-of-2 section-diabetes box-location flex-item ">
                <h2>DIABETES MELLITUS</h2>
            </div>
            <div class="ocultar seccionMasInformacion" id="MasInformacion6">
                <p>
                    ¿Como se desarrolla la diabetes?
                    <br />
                    Cuando nosotros comemos la comida que ingerimos se desdobla y los niveles de azúcar (glucosa) incrementa.
                    <br />
                    Las células del cuerpo toman la glucosa y la utilizan como energía. 
                    <br />
                    Estas células introducen la glucosa por medio de la insulina una hormona que se produce en el páncreas (órgano cercano al estomago) 
                    cuando tu cuerpo no produce suficiente insulina o no trabaja eficientemente (resistencia a al insulina) el AZUCAR O GLUCOSA SE ELEVA EN LA SANGRE 
                    <br />
                    Como resultado
                    <br />
                    Las células no tendrán energía suficiente y los niveles de glucosa en sangre se elevan estos niveles con e tiempo dañan los ojos el riñón los nervio y el corazón.
                    <br />
                    Tipos de diabetes mellitus
                    <br />
                    <br />
                    <b>TIPO 1</b>
                    <br />
                    Este tipo tambien es referida como diabetes mellitus dependiente de insulina Ellos deben de aplicarse insulina diariamente 
                    Esto compensa la falta de insulina que que requieresn para trasladar la glicosa a la celula y tener energia. 
                    <br />
                    Este tipo de diabetes era previamente conocida como diabetes juvenil porque se presentamba en jovenes. 
                    <br />
                    Sin embargo los cambios en el estilo de vida han hecho que se pueda presentar a cualquier edad,
                    ESTE TIPO DE DIABETES TIPO 1 TIENEN MAYOR RIESGO DE MORIR O ENFERMAR
                    <br />
                    <br />
                    <b>TIPO 2</b>
                    <br />
                    Es la formas mas común de diabetes mellitus, anteriormente la DM2 se diagnosticaba en la edad adulta
                    <br />
                    Pero actualmente se ha desarrollado de manera ALARMANTE la diabetes tipo 2 en adolecentes y jóvenes incluso en niños por lo altos índices de obesidad e inactividad fisica
                    <br />
                    Este tipo de diabetes mellitus pueden ocurrir cuando SE DESAROLLA resistencia a la insulina y no puede eficientemente usar la insulina que produce, el páncreas de manera gradual pierde la capacidad para producir insulina.
                    <br />
                    Este tipo de enfermedad se puede subdiagnosticar en muchos años Esto causa problemas ya que la diabetes mellitus no tratada caudas problemas medicos incluyendo enfermedad cardiovascular,
                    <br />
                    La diabetes mellitus tipo 2 se puede retrasar o controlar con una dieta cardiosaludable y ejercicio
                    <br />
                    <br />
                    PRECURSORES DE LA DIABETES
                    <br />
                    <br />
                    <b>RESISTENCIA A LA INSULINA</b>
                    <br />
                    La resistencia a la insulina es una condición que afecta a mas de 60 millones de americanos, y esto se produce porque la insulina no se produce eficientemente,
                    <br />
                    Aumentando los niveles de glucosa (no mayor a 126) en lugar de no utilizarse en las células.
                    <br />
                    Para compensa los niveles de glucosa las células producen mas insulina por el páncreas para compensar mas y mas así la insulina tratada de mantener la glucosa en los niveles normales, Gradualmente estas células fallan para mantener esto por lo tanto los niveles de insulina empiezan a aumentar
                    <br />
                    CUANDO EL CUERPO TIENE ALTOS NIVELES DE GLUCOSA Y ALTOS DE NIVELES DE INSULINA SE LLAMA RESISTENCIA A LA INSULINA
                    <br />
                    Las personas que tienen altos niveles de insulina tienen mayor riesgo de desarrollar
                    <br />
                    1.	Pre- diabetes
                    <br />
                    2.	Diabetes mellitus tipo2
                    <br />
                    3.	Enfermedades cardiovasculares
                    <br />
                    <br />
                    Este tipo de pacientes generalmente tienen historia de obesidad, inactividad física, y tiene otros factores de riesgo como dislipidemia (mucho colesterol insuficiente colesterol buen (HDL) altos niveles de triglicéridos y niveles altos de presión arterial.
                    <br />
                    NO TRATAR LA PREDIABETES PUEDE PRODUCIR PROBLEMAS SERIES COMO INFARTO DEL CORAZON Y UN EVENTO VASCULAR CEREBRAL
                    <br />
                    <br />
                    <b>PREDIABETES</b>
                    <br />
                    Prediabetes significa que los niveles de azúcar son mas altos que lo normal pero NO a niveles de diabetes mellitus (> 100-125 mg/dl)
                    <br />
                    Si te encuentran que tienes prediabetes es una mala noticia ya que tienes ALTO riesgo de desarrollar diabetes mellitus, así como mayor riesgo de enfermedad cardiovascular
                    <br />
                    Sin embargo si te diagnosticaron prediabetes tienes la oportunidad de hacer algo muchas personas que tiene el diagnostico de prediabetes descubre que ellos tiene el poder de disfrutar los cambios saludables en el estilo de vida y tener una mejor vida
                    <br />
                    La importancia de los beneficios de saluda cambios en el estilo de vida
                    <br />
                    EL ser mas activo físicamente te hará mas fuerte y con mas capacidad física que te permitirá desarrollar diferentes cosas de tu vida cotidiana mas fácilmente El aprender de la nutrición hace que disfrutes nuevos y creativos platillos saludables y descubrirás que esta es una nueva aventura

                </p>
            </div>
        </div>
    </div>
</section>

@*TESTIMONIOS*@
<section class="section-testimonials" id="testimonials">
    <div class="row">
        <h2>Testimonios</h2>
    </div>
    <div class="row js--wp-3">
        <div class="col span-1-of-3">
            <blockquote>
                Me cambio la vida
                <cite><img src="/Content/img/customer-1.jpg">Marco Silva</cite>
            </blockquote>
        </div>
        <div class="col span-1-of-3">
            <blockquote>
                Excelente servicio
                <cite><img src="/Content/img/customer-2.jpg">Jane Adison</cite>
            </blockquote>
        </div>
        <div class="col span-1-of-3">
            <blockquote>
                Lo recomiendo ampliamente
                <cite><img src="/Content/img/customer-3.jpg">Jhon Anderson</cite>
            </blockquote>
        </div>
    </div>
</section>

@*SERVICIOS*@
<section class="section-popular-plans js--section-popular-plans" id="servicios">
    <h2>SERVICIOS CICOR</h2>
    <div class="row">
        <div class="col span-1-of-3">
            <div class="plan-box">
                <div>
                    <h3>Basico</h3>
                    <p class="plan-price">$5,000</p>
                    <p class="plan-price-week">Pequeña descripcion del servicio 1</p>
                </div>
                <div>
                    <ul>
                        <li><ion-icon class="icon-small" name="arrow-dropright"></ion-icon>Medico particular</li>
                        <li><ion-icon class="icon-small" name="arrow-dropright"></ion-icon>Atención 24/7</li>
                        <li><ion-icon class="icon-small" name="arrow-dropright"></ion-icon>Entrenador personal</li>
                        <li><ion-icon class="icon-small" name="arrow-dropright"></ion-icon>Bitacora de seguimiento</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col span-1-of-3">
            <div class="plan-box js--wp-4">
                <div>
                    <h3>Completo</h3>
                    <p class="plan-price">$10,000</p>
                    <p class="plan-price-week">Pequeña descripcion del servicio 2</p>
                </div>
                <div>
                    <ul>
                        <li><ion-icon class="icon-small" name="arrow-dropright"></ion-icon>Medico particular</li>
                        <li><ion-icon class="icon-small" name="arrow-dropright"></ion-icon>Atención 24/7</li>
                        <li><ion-icon class="icon-small" name="arrow-dropright"></ion-icon>Entrenador personal</li>
                        <li><ion-icon class="icon-small" name="arrow-dropright"></ion-icon>Bitacora de seguimiento</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col span-1-of-3">
            <div class="plan-box">
                <div>
                    <h3>Control total</h3>
                    <p class="plan-price">$15,000</p>
                    <p class="plan-price-week">Pequeña descripcion del servicio 3</p>
                </div>
                <div>
                    <ul>
                        <li><ion-icon class="icon-small" name="arrow-dropright"></ion-icon>Medico particular</li>
                        <li><ion-icon class="icon-small" name="arrow-dropright"></ion-icon>Atención 24/7</li>
                        <li><ion-icon class="icon-small" name="arrow-dropright"></ion-icon>Entrenador personal</li>
                        <li><ion-icon class="icon-small" name="arrow-dropright"></ion-icon>Bitacora de seguimiento</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

@*CONTACTO*@
<section class="section-form" id="contacto">
    <div class="row">
        <h2>¿Interesado? ¡Queremos saber de ti!</h2>
    </div>

        <div class="row">
            @using (Html.BeginForm("Index", "Home", FormMethod.Post, new { @class = "contact-form" }))
            {
            <div class="row input-box">
                <div class="col span-1-of-3">
                    <label for="name">Nombre</label>
                </div>
                <div class="col span-2-of-3">
                    <input type="text" name="name" id="name" placeholder="Tu nombre" required>
                </div>
            </div>
            <div class="row input-box">
                <div class="col span-1-of-3">
                    <label for="email">Correo electrónico</label>
                </div>
                <div class="col span-2-of-3">
                    <input type="email" name="email" id="email" placeholder="Tu correo electrónico" required>
                </div>
            </div>
            <div class="row input-box">
                <div class="col span-1-of-3">
                    <label for="phone">Teléfono</label>
                </div>
                <div class="col span-2-of-3">
                    <input type="text" name="phone" id="phone" placeholder="Tu teléfono" required>
                </div>
            </div>
            <div class="row ">
                <div class="col span-1-of-3">
                    <label>Cuentanos de ti</label>
                </div>
                <div class="col span-2-of-3">
                    <textarea name="message" placeholder="Cuentanos de ti"></textarea>
                </div>
            </div>
            <div class="row ">
                <div class="col span-1-of-3">

                </div>
                <div class="col span-2-of-3">
                    <div class="g-recaptcha" data-sitekey="6LdFH6IUAAAAAMBtJdKxT8j-xhroWM5Fu07VXVPB"></div>
                </div>
            </div>
            <div class="row">
                <div class="col span-1-of-3">
                    <label>&nbsp;</label>
                </div>
                <div class="col span-2-of-3">
                    <input type="submit" value="Enviar">
                </div>
            </div>
            }
        </div>

        <div class="row">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14931.54896196604!2d-103.347573!3d20.674166!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x5d5c0a4ae70863ac!2sMr.+CD+Instrumentos!5e0!3m2!1ses-419!2smx!4v1557448577495!5m2!1ses-419!2smx" width="100%" height="350" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
</section>

<footer>
    <div class="row">
        <div class="col span-1-of-2">
            <ul class="footer-nav">
                <li><a href="#intro">Rehabilitación</a></li>
                <li><a href="#quienSomos">Nosotros</a></li>
                <li><a href="#contacto">Contactanos</a></li>
                <li><a class="js--scroll-to-plans" href="#servicios">Servicios</a></li>
            </ul>
        </div>
        <div class="col span-1-of-2">
            <ul class="social-icons">
                <li><a href="#"><ion-icon name="logo-facebook"></ion-icon></a></li>
                <li><a href="#"><ion-icon name="logo-twitter"></ion-icon></a></li>
                <li><a href="#"><ion-icon name="logo-instagram"></ion-icon></a></li>
            </ul>
        </div>
        <div class="row">
            <p>
                CICOR &copy; 2019. Todos los derechos reservados.
            </p>
        </div>
    </div>
</footer>