<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.net>
    <mailSettings>
      <smtp>
        <!--<network host="mail.netcommerce.mx"
          port="587"
          userName="cesar@netcommerce.mx"
          password="csra1313"/>-->
        <network host="localhost" port="25"/>
      </smtp>
    </mailSettings>
  </system.net>
  <appSettings>
    <add key="GoogleMapKey" value="ABQIAAAAMy1sSHtQXpUruGdZyzw98BTagN6wuW6OKDNb9AswdAVGx9k4CxTF27U9fTGQnIAeXaLe5xLJWu9uwQ"/>
    <add key="googlemaps.subgurim.net" value="ABQIAAAAMy1sSHtQXpUruGdZyzw98BTagN6wuW6OKDNb9AswdAVGx9k4CxTF27U9fTGQnIAeXaLe5xLJWu9uwQ"/>
  </appSettings>
  <connectionStrings>
    <!--<add name="Reciclar" connectionString="Data Source=Alex\SQLEXPRESS;Initial Catalog=ReciclarSuperNegocio;integrated security=True"
     providerName="System.Data.SqlClient" />-->
    <add name="providencia" connectionString="Data Source=Alex\SQLEXPRESS;Initial Catalog=providencia;integrated security=True"  providerName="System.Data.SqlClient" />
    <add name="providenciaEntities" connectionString="metadata=res://*/Providencia.csdl|res://*/Providencia.ssdl|res://*/Providencia.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=Alex\SQLEXPRESS;initial catalog=providencia;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />

  </connectionStrings>
  <system.web>
    <httpRuntime requestValidationMode="2.0"/>
    <compilation targetFramework="4.0" debug="true">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms name=".SitioWeb" loginUrl="/login.aspx" defaultUrl="/listado-usuarios.aspx" slidingExpiration="true" timeout="30"/>
    </authentication>
    <authorization>
      <allow users="*"/>
    </authorization>
  </system.web>
  <location path="admin">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="admin/login.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <system.webServer>
    <defaultDocument>
      <files>
        <clear/>
        <add value="Inicio.aspx"/>
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>