/*--------------------------
    ---QUERIES----
----------------------------*/

@media only screen and (max-width:1400px){

    .arrow img{
        top: 6rem;
    }

}

@media only screen and (max-width:1200px){
    .lineaBanner {
        width: 20%;
    }
    .hero-text-box{
        width: 100%;
        padding: 0 2%;
    }

    .row {padding: 0 2%;}
    
    .main-nav {
        margin-top: 14rem;
        text-align: center;
    }
}

@media only screen and (max-width:1023px){
    
    .section-frase1,
    .section-frase2 {
        height:8rem;
    }

    body{font-size: 1.8rem;}
    
    section{padding: 6rem 0;}

    .main-nav{margin-right: 4rem;}

    .long-copy{
        width: 80%;
        margin-left: 10%;
    }

    .box-location h2 { margin: 20rem 0; }

    .box-location p {
        margin: 17rem 6rem 19.5rem 10rem;
        font-size: 1.7rem;
    }

    .locations-box {margin-left: 1rem;}

}

@media only screen and (max-width:960px) {
}

@media only screen and (max-width:767px){
    
    .section-frase1,
    .section-frase2 {
        height:6rem;
    }

    .cover-text-box {
        top: 4%;
    }

    .lineaBanner {
        width: 9%;
    }

    .box-location h2 { margin: 20rem 0; }

    .box-location p {
        margin: 17rem 6rem 19.5rem 10rem;
        font-size: 1.7rem;
    }

    .arrow img{
        top: 6rem;
    }

    .mobile-nav-icon{display: inline-block;line-height: 100px;}

    .mobile-nav{
        float: left;
    }

    .main-nav{
        float: left;
        display: none;
        margin-top: 3.5rem;
    }

    .main-nav li{
        display: block;
        margin-bottom: 0rem;
    }

    .main-nav li:nth-last-of-type(-n+2) {
        float: none;
    }

    .main-nav li a:link,
    .main-nav li a:visited{
        display: block;
        border: 0;
    }

    .sticky .mobile-nav-icon{
        margin-top: 1rem;
    }

    .sticky .mobile-nav-icon ion-icon{
        color: #555;
    }

    .sticky .main-nav li {
        margin-bottom: .2rem;
    }

    .input-box{
        margin-bottom: .8rem;
    }

    .contenedorCita {width:100%;}

    .span-1-of-3,
    .span-1-of-4,
    .span-1-of-2,
    .span-2-of-3  {
        width: 100%;
        margin: 0;
        text-align: center;
    }

    .contact-form {
        width: 100%;
    }

    .icon-big {
        margin-left: 0;
    }

}

@media only screen and (max-width:480px){
   
    .section-frase1,
    .section-frase2 {
        height:4rem;
    }

    .box p {
        text-align: center;
        margin-bottom:10px
    }
    
    .mobile-nav-icon {
        line-height: 50px;
    }

    .cover-text-box {
        top: 3%;
    }

    #contacto img {
        height: 50px;
    }

    .contenedorBeneficios figure {
        width: 100%;
    }

    .contenedorBeneficios figure img {
        right: 0;
        left: 0;
        margin: auto;
    }

    .videoCicor {
        height:200px !important;
    }

    .sticky .main-nav {
        text-align:left;
    }
    
    .sticky .main-nav li {
        width:100%
    }


    .botonCita {
    width:100%;
    }

    .lineaBanner {
        display:none;
    }

    .imgLogo {
    height:70px;
    }
     
    .box-location h2 { margin: 17rem 0;}

    .box-location p {
        margin: 17rem 6rem 17rem 6rem;
        font-size: 1.9rem;
        text-align: center;
    }

    .cover-text-box h1 { font-size: 6.5rem; }

    .section-features h2:after { width: 7em; }

    .icon-big{ margin-left: 42%; }

    .locations-box{ margin-left: 0rem; }

    blockquote:before{left: 1.7rem;}

    .plan-box{margin-bottom: 3rem;}
    
    .contact-form {width: 90%}

    input[type=submit]{margin-left: 9rem;}

    footer{padding: 2rem;}

    .footer-nav, .social-icons{margin-bottom: 3rem;}

    .flex-container{
        display: flex;
        flex-flow: row wrap;
    }

    .flex-item:nth-of-type(1) { order: 2; }
    .flex-item:nth-of-type(2) { order: 1; }
}

@media only screen and (max-width:320px){
    .cover-text-box h1 {
        font-size: 5.5rem;
    }

    .cover-text-box{
        top: 53%;
    }
}